
body {
	display: grid;
	grid-template-rows: 1fr 100px 1fr;
	color: white;
	font-family: verdana;
	font-size: 17px;
}

img {
	padding-top: 20px;
	padding-left: 8px;
}

/*begin van de code voor de navigatie menu*/

a {
	text-decoration: none;
	color: white;
}

#menu > li{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 160px;
	height: 60px;
}

#menu > ul {
	list-style: none;
	width: 100%;
	padding-top: 40px;
	padding-bottom: 47px; 
	background-color: transparent;
	display: flex;
	margin-left: -30px;
	margin-top: -33px;
	grid-row: 1/2;
}

#home {
	width: 83px;
}

#exertion {
	width: 171px;
}

#virtual {
	width: 96px;
}

#wearables {
	width: 129px;
}

#creature {
	width: 190px;
}

#workshop1 {
	width: 174px;
}

#workshop2 {
	width: 157px;
}

#workshop3 {
	width: 99px;
}

#excursion {
	width: 111px;
}

/*Einde vand de code voor de navigatie menu*/

h1 {
	text-align: center;
	grid-row: 2/3;
	font-size: 43px;
	margin-top: 170px;
}

h2 {
	font-family: verdana;
	font-size: 33px;
	text-align: center;
	grid-row: 2/3;
}

#achtergrond {
	width: 100%;
	position: fixed;
	z-index: -1;
	margin-top: -30px;
	margin-left: -16px;
}

section {
	height: 1295px;
	grid-row: 2/4;
	background-color: rgba(0,0,0,0.7);
	margin-left: -8px;
	margin-right: -8px;
	margin-bottom: -8px;
	margin-top: -222.5px;
}

#concept,  #reflectie { /*Titels*/
	margin: 50px;
}

#watch { /*Afbeelding schets*/
	width: 500px;
	margin-left:-7px;
}

#smart { /*Afbeelding smartwatch*/
	width: 300px;
}


